@import "mixin";
/*----------  Mother  ----------*/
.container-fluid {
  padding: 0;
}
/*----------  Mother  ----------*/
/*----------  Header  ----------*/
header {
  @include header;
}
/*----------  Header  ----------*/
/*----------  Main  ----------*/
#main_catalog {
  padding: 1rem;

  h3 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  .card {
    box-shadow: 1px 6px 24px -11px rgba(0,0,0,0.75);
  }
}
/*----------  Main  ----------*/
/*----------  Footer  ----------*/
footer {
  @include footer;
}
/*----------  Footer  ----------*/
/*----------  Media  ----------*/
@media screen and (min-width:992px) {
  .title {
    @include media992min;
  }
}
@media screen and (min-width:1300px) {
#main_catalog {
    padding: 5rem;
  }
}
@media screen and (max-width:992px) {
  .title {
    @include media992max;
  }
}
/*----------  Media  ----------*/
