/*----------  Mother  ----------*/

/*----------  Mother  ----------*/

/*----------  Header  ----------*/

header {
  background: #281400;
  text-align: center;
  color: #bbb9b9;
    li {
      list-style-type: none;
      padding: 0;
        a {
          color: #bbb9b9;
        }
        a:hover {
          color: #bbb9b9;
        }
    }
    h1{
      color: white;
    }
    h2 {
      color: white;
    }
}


/*----------  Header  ----------*/

/*----------  Main  ----------*/

main {
  background: grey;
  padding: 1rem;
    h3 {
      text-align: center;
    }
}


/*----------  Main  ----------*/

/*----------  Footer  ----------*/

ul {
  list-style-type: none;
  padding: 0;
}

/*----------  Footer  ----------*/
