@import "mixin";
/*----------  Mother  ----------*/
.container-fluid {
  // padding: 0;
}
/*----------  Mother  ----------*/
/*----------  Header  ----------*/
header {
  @include header;
}
/*----------  Header  ----------*/
/*----------  Main  ----------*/
#main_catalog {
  padding: 1rem;

  h3 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  .card {
    box-shadow: 1px 6px 24px -11px rgba(0,0,0,0.75);
  }
}

#product {
  margin: 5rem auto;
}

.cart {
  margin: 5rem auto;
  height: 500px;
  overflow: auto;
}

h6 {
  margin: 2rem 0 1rem 0;
}

.media, .prod_list {
  margin: 3rem;
  ul {
    list-style-type: none;
    padding: 0;
  }
  li:hover {
    background: #a28f61;
  }
}



/*----------  Main  ----------*/
/*----------  Footer  ----------*/
footer {
  @include footer;
}
/*----------  Footer  ----------*/
/*----------  Media  ----------*/
@media screen and (min-width:992px) {
  .title {
    @include media992min;
  }
}
@media screen and (min-width:1300px) {
#main_catalog {
    padding: 5rem;
  }
}
@media screen and (max-width:992px) {
  .title {
    @include media992max;
  }
}
/*----------  Media  ----------*/
